:root{
    --off-white: #f9f9f9;
    --light-blue: #007acc;
    --beige: #efefef;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right,#ffecd2, #53aeb4);
    color: #333;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
}

form {
    margin: 2em auto;
    padding: 2em;
    width: 60%;
    max-width: 400px;
    text-decoration: solid;
    background: linear-gradient(to bottom, #f9f9f9, #efefef );
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#response-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.intro{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.project-thumbnail{
  width: 100%;             /* fills the tile width */
  height: auto;            /* keep aspect ratio */
  object-fit: cover;       /* crops gracefully if needed */
  border-radius: 0.35rem;
}

#copyBtn {
    padding: 0.5em 1em;
    font-size: 0.9em;
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#copyBtn:hover {
    background-color: var(--light-blue);
}

p{
    text-align: center;
}

/* select, input[type="submit"] {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0.5em;
    width: 100%;
    box-sizing: border-box;
}

#response {
    margin-top: 1em;
    font-size: 1.1em;
    background: #fff;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
} */